<!DOCTYPE html>
<html>
<head>
{{! Document Settings }}
<meta charset=utf-8 />
<meta http-equiv=X-UA-Compatible content="IE=edge" />
{{! Page Meta }}
<title>{{meta_title}}</title>
<meta name=description content={{meta_description}} />
<meta name=HandheldFriendly content=True />
<meta name=viewport content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="{{asset "favicon.png"}}">
<!--[if lt IE 9]>
<script src=http://s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js></script>
<script type=text/javascript src="{{asset "js/html5shiv.js"}}"></script>
<script type=text/javascript src="{{asset "js/css3-mediaqueries.js"}}"></script>
<script type=text/javascript src="{{asset "js/selectivizr-min.js"}}"></script>
<![endif]-->
{{! Ghost outputs important style and meta data with this tag }}
{{ghost_head}}
{{! Styles for Optimium }}
{{> styles}}
</head>
<body class={{body_class}}>
{{{body}}}
</body>
{{! Javascript for Optimium}}

<link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
<link href=//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css rel=stylesheet>
{{> analytics}}
{{> extras}}
</html>