{{!< default}}

{{> header_page}}

{{! The main content area on the post }}
<main id="content_willsong" role="main">

    <div id="content_column_willsong" class="boxed-cargo">

        {{#post}}

        <article class="{{post_class}} col-off2lg8-off2md8-off1sm10">

            <header class="reading_post_header">
                <h2 class="post_title">{{{title}}}</h2>
                <div class="post_meta">
                    <span class="fa fa-clock-o"></span> <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> published on <span>{{tags prefix=""}}</span>
                </div>
            </header>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blog-header -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9770282066229680"
     data-ad-slot="2458615853"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<img src="{{image}}" width="100%"/>
            {{content }}

            <footer id="post_footer_willsong">
                <section id="share_post_willsong">
                    <h4>Share this post</h4>
                    <a class="fa fa-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
                    <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
                    <a class="fa fa-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
                </section>

                <section id="author_willsong">
                    {{#author}}
                    <img src="{{image}}" alt="{{name}}">
                    <h4><a href="{{url}}">{{name}}</a></h4>
                    {{#if website}}<a href="{{website}}">{{website}}</a>{{/if}}
                    <p>{{bio}}</p>
                    {{/author}}
                </section>

                <section id="comments_willsong">
                    {{> disqus}}
                </section>
            </footer>
        </article>

        {{/post}}

    </div>

</main>